.admin-collections {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.admin-collections h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.admin-collections button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-collections button:hover {
  background-color: #0056b3;
}

.admin-collections table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.admin-collections th, .admin-collections td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.admin-collections th {
  background-color: #f4f4f4;
}

.admin-collections tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-collections tr:hover {
  background-color: #f1f1f1;
}

.admin-collections input[type="text"] {
  padding: 10px;
  width: calc(100% - 20px);
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.fixed-inputs {
  position: sticky;
  top: 60px; 
  background-color: white;
  padding: 10px 0;
  z-index: 10;
}

.fixed-inputs input,
.fixed-inputs select,
.fixed-inputs button {
  display: inline-block;
  margin-right: 10px;
}

.scrollable-content {
  margin-top: 20px; 
  overflow-y: auto;
}
